@model List<Review>

@{
    ViewData["Title"] = "My Reviews";
}

<div class="row">
    <div class="col-md-3">
        <ul>
            @foreach(var x in Model)
            {
                <li>
                    @x.Comment;
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <ul>
            @foreach (var x in Model)
            {
                <li>
                    @x.Comment;
                    @x.UserName;
                    @x.Id;
                    @x.Rating;
                </li>
            }
        </ul>
    </div>
</div>