@model IEnumerable<WebSite.Models.Movie>

@{
    ViewData["Title"] = ViewData["ListMovies"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-light">@ViewData["ListMovies"]</h1>

<p>
    <a asp-action="AddMovie">@ViewData["AddMovie"]</a>
</p>
<table class="table img-thumbnail" style="background-color: white">
    <thead>
        <tr>
            <th>
                @ViewData["MovieTitle"]
            </th>
            <th>
                @ViewData["Description"]
            </th>
            <th>
                @ViewData["ImageURL"]
            </th>
            <th>
                @ViewData["CategoryId"]
            </th>
            <th>
                @ViewData["ImdbRating"]
            </th>
            <th>
                @ViewData["MovieStormRating"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImdbRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieStormRating)
            </td>
            <td>
                <a asp-action="UpdateMovie" asp-route-id="@item.Id">@ViewData["Update"]</a>
                <br />
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@ViewData["Details"]</a>
                <br />
                <a href="/Admin/DeleteMovie/@item.Id">                                 
                    @ViewData["Delete"]
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
