@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity

@inject IViewLocalizer _localizer
@inject SignInManager<MyUser> SignInManager
@inject UserManager<MyUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <p class="text-light" style="text-align:center; margin-top:13px; margin-right:13px;">@User.Identity.Name</p>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light" style="width: 70px; height: 40px; margin-top: 6px;">
                    <p style="margin-top: -6px;">@_localizer["Logout"]</p>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">@_localizer["Register"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">@_localizer["Login"]</a>
        </li>
    }
</ul>
